 /*.ft{
 	border: 2px solid red;
 	font-family: fantasy;
 	font-size: 100px;
 	background-color: blue;
 	text-align: center;
 }*/
/*  id selector */
/*#def{
	background-color: crimson;
	font-size: 50px;
	font-family: fantasy;
	text-align: center;
	color: black;
	border: 4px solid blue;
    }
/*element selector*/
/*p{
	font-family: fantasy;
	font-size: 50px;
	color: pink;
	background-color: violet;

}
div{
	font-family: fantasy;
	background-color: blue;
	width: 400px;
	height: 400px;
	text-align: center;
}*/
/*universal selector*/
/**{
	color: yellow;
	background-color: pink;
}*/
/*attribute selector*/
/*input[type]{
	color: yellow;
}
input[type="text"]{
	color: red;
}
input[type="number"]{
	color: saddlebrown;
}*/
/*a[href]{
	background-color: orange;
}
img[src]{
	width: 500px;
	border: 8px solid purple;
}*/
/*a:link{
	color: pink;
}*/
/*a:visited{
	color: gray;
}*/
/*a:hover{
	color: red;
	font-size: 500px;
	background-color: yellow;
}
a:active{
	color: black;
}
div:hover{
    height: 200px;
    width: 200px;
    background-color: pink;
}*/
body{
	background-image: url('backgroundimage.jpeg');
	background-size: cover;
}
